<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <label>Id
            <input type="hidden" name="eventId" class="form-control" th:value="${event.id}">
        </label>
    </div>
    <div class="form-group">
        <label>Name
            <input type="text" name="name" class="form-control" th:value="${event.name}">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" name="description" class="form-control" th:value="${event.description}">
        </label>
    </div>
    <div class="form-group">
        <label>Location
            <input type="text" name="location" class="form-control" th:value="${event.location}">
        </label>
    </div>
    <div class="form-group">
        <label>Register?
            <input type="checkbox" name="register" class="form-control" th:value="${event.register}">
        </label>
    </div>
    <div class="form-group">
        <label>Number of attendees
            <input type="number" name="numberOfAttendees" class="form-control" th:value="${event.numberOfAttendees}">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit Event" class="btn btn-success">
    </div>
</form>

</body>
</html>